version: "3.9"
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    user: "root"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
      # - ./files/:/etc/prometheus/files/:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-lifecycle"
    ports:
      - "9090:9090"
    environment:
      - TZ=${TZ}
    networks:
      - mon_net
    restart: unless-stopped

volumes:
  prometheus_data:

networks:
  mon_net:
    external: true
